.taskList {
  margin: 0 auto;
  max-width: 74.5rem;
  margin-top: 6.4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.createdTasks > p {
  font-size: 1.4rem;
  color: var(--blue-500);
}

.completedTasks > p {
  font-size: 1.4rem;
  color: var(--purple-500);
}

.createdTasks > p span,
.completedTasks > p span {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.2rem 0.8rem;
  border-radius: 100px;
}
